*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.white {
  color: #fefbff;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 96px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: row;
  overflow: hidden;
}
@media screen and (max-width: 960px) {
  .container {
    flex-direction: column;
    padding: 32px 18px;
  }
}

.flex-top {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
@media screen and (max-width: 960px) {
  .flex-top {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-spacebetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.relative {
  position: relative;
}

.flex-warp {
  flex-wrap: wrap;
}

.flex-item-1 {
  flex: 1 1 360px;
}

.flex-item-2 {
  flex: 2 1 360px;
}

.flex-item-3 {
  flex: 3 1 360px;
}

.flex-item-4 {
  flex: 4 1 360px;
}

.flex-item-5 {
  flex: 5 1 360px;
}

.flex.item-auto {
  flex: 2 1 auto;
}

.w-auto {
  width: auto;
}

.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}

.hidden {
  overflow: hidden;
}

.hero {
  height: 90vh;
}
@media screen and (max-width: 960px) {
  .hero {
    height: auto;
  }
}

.bg-home {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.svg-bg-home {
  width: 150%;
}
@media screen and (min-width: 1440px) {
  .svg-bg-home {
    width: 100%;
  }
}

.list-item {
  list-style: none;
  position: relative;
  padding: 8px 8px 8px 72px;
  margin-bottom: 48px;
}
.list-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 64px;
  height: 64px;
}

.best {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50px;
  background-color: #f7f2fa;
}
@media screen and (max-width: 960px) {
  .best {
    flex-direction: column;
  }
}
.best::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 124px;
  height: 32px;
  background-image: url(/svg/entail.svg);
  background-repeat: no-repeat;
}

.best-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 16px;
  margin: 8px 8px;
}
@media screen and (max-width: 960px) {
  .best-item {
    justify-content: center;
    align-items: center;
  }
}

.bg-invite {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.svg-invite {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: -1;
}
@media screen and (max-width: 960px) {
  .svg-invite {
    transform: translate(-50%, -50%) scale(1.5);
  }
}
@media screen and (max-width: 1140px) and (max-width: 1140px) and (min-width: 960px) {
  .svg-invite {
    transform: translate(-50%, -50%) scale(1);
  }
}

.list {
  list-style: none;
}
.list li {
  margin-bottom: 12px;
}
.list a {
  color: #bb71d2;
}
footer {
  background: linear-gradient(220.94deg, #A950C4 14.43%, #82269E);
}

@media screen and (max-width: 960px) {
  .footer-mobile {
    display: flex;
    flex-direction: row;
  }
}

.bt-purple {
  border-top: 1px solid #bb71d2;
}

h1 {
  color: #161617;
  font-family: "Sora", sans-serif;
  font-size: 64px;
  line-height: 100%;
}
@media screen and (max-width: 960px) {
  h1 {
    font-family: "Sora", sans-serif;
    font-size: 36px;
    line-height: 120%;
  }
}

h2 {
  color: #161617;
  font-family: "Sora", sans-serif;
  font-size: 52px;
  line-height: 100%;
}
@media screen and (max-width: 960px) {
  h2 {
    font-family: "Sora", sans-serif;
    font-size: 36px;
    line-height: 120%;
  }
}

h3 {
  color: #161617;
  font-family: "Sora", sans-serif;
  font-size: 36px;
  line-height: 120%;
}
@media screen and (max-width: 960px) {
  h3 {
    font-family: "Sora", sans-serif;
    font-size: 24px;
    line-height: 120%;
  }
}

h4 {
  color: #161617;
  font-family: "Sora", sans-serif;
  font-size: 24px;
  line-height: 130%;
}
@media screen and (max-width: 960px) {
  h4 {
    font-family: "Sora", sans-serif;
    font-size: 18px;
    line-height: 130%;
  }
}

h5 {
  text-transform: uppercase;
  background: linear-gradient(220.94deg, #a958c4 14.43%, #82269e 85.28%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-family: "Sora", sans-serif;
  font-size: 18px;
  line-height: 140%;
}
@media screen and (max-width: 960px) {
  h5 {
    font-family: "Sora", sans-serif;
    font-size: 16px;
    line-height: 150%;
  }
}

p {
  color: #666566;
  font-family: "Source Sans 3", sans-serif;
  font-size: 16px;
  line-height: 140%;
}
@media screen and (max-width: 960px) {
  p {
    font-family: "Source Sans 3", sans-serif;
    font-size: 14px;
    line-height: 150%;
  }
}

.bold {
  font-weight: bold;
  color: #353436;
}

strong {
  color: #161617;
  font-family: "Source Sans 3", sans-serif;
  font-size: 16px;
  line-height: 140%;
}
@media screen and (max-width: 960px) {
  strong {
    font-family: "Source Sans 3", sans-serif;
    font-size: 14px;
    line-height: 150%;
  }
}

.text-center {
  text-align: center;
}

.weight-ligth {
  font-weight: 300;
}

a {
  font-family: "Source Sans 3", sans-serif;
  font-size: 16px;
  line-height: 140%;
  text-decoration: none;
  color: #232224;
  transition: 0.5s;
}
a:hover {
  opacity: 0.9;
}

.btn {
  background: linear-gradient(220.94deg, #a958c4 14.43%, #82269e 85.28%);
  border-radius: 16px;
  padding: 12px 32px;
  transition: 0.5s ease;
  color: #fefbff;
  box-shadow: 0px 17px 17px rgba(169, 80, 196, 0.13), 0px 5.125px 5.125px rgba(169, 80, 196, 0.0847066), 0px 2.12866px 2.12866px rgba(169, 80, 196, 0.065), 0px 0.769896px 0.769896px rgba(169, 80, 196, 0.0452935);
}
.btn:hover {
  transform: scale(1.02);
  box-shadow: 0px 17px 31px rgba(169, 80, 196, 0.05), 0px 5.125px 9.34559px rgba(169, 80, 196, 0.07), 0px 2.12866px 3.88168px rgba(169, 80, 196, 0.09), 0px 0.769896px 0.769896px rgba(169, 80, 196, 0.14);
}

.link {
  display: inline-block;
  color: #82269e;
  background-image: url("/svg/icon-arrow.svg");
  background-repeat: no-repeat;
  background-position: 0% 50%;
  font-size: 18px;
  padding: 16px 16px 16px 40px;
  position: relative;
}
.link::after {
  content: "";
  position: absolute;
  display: block;
  top: 75%;
  left: 56px;
  width: 0%;
  height: 2px;
  border-radius: 2px;
  transition: 0.5s ease;
  background-color: #bb71d2;
}
.link:hover {
  opacity: 0.8;
  padding-left: 64px;
  background-position: 8px 50%;
}
.link:hover::after {
  width: 100%;
  background-color: #bb71d2;
}

.button-app {
  transition: 0.5s ease;
}
.button-app:hover {
  filter: drop-shadow(0px 51px 80px rgba(169, 80, 196, 0.08)) drop-shadow(0px 15.375px 24.1177px rgba(169, 80, 196, 0.052171)) drop-shadow(0px 6.38599px 10.0172px rgba(169, 80, 196, 0.04)) drop-shadow(0px 2.30969px 3.62304px rgba(169, 80, 196, 0.0278729));
}

.s-0 {
  margin: 0;
  padding: 0;
}

.m-0 {
  margin: 0 !important;
}

.m-1 {
  margin: 8px !important;
}

.m-2 {
  margin: 16px !important;
}

.m-3 {
  margin: 24px !important;
}

.m-4 {
  margin: 32px !important;
}

.m-5 {
  margin: 48px !important;
}

.m-6 {
  margin: 64px !important;
}

.m-7 {
  margin: 72px !important;
}

.m-8 {
  margin: 96px !important;
}

.m-9 {
  margin: 128px !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-1 {
  margin-top: 8px !important;
}

.mt-2 {
  margin-top: 16px !important;
}

.mt-3 {
  margin-top: 24px !important;
}

.mt-4 {
  margin-top: 32px !important;
}

.mt-5 {
  margin-top: 48px !important;
}

.mt-6 {
  margin-top: 64px !important;
}

.mt-7 {
  margin-top: 72px !important;
}

.mt-8 {
  margin-top: 96px !important;
}

.mt-9 {
  margin-top: 128px !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.ml-1 {
  margin-left: 8px !important;
}

.ml-2 {
  margin-left: 16px !important;
}

.ml-3 {
  margin-left: 24px !important;
}

.ml-4 {
  margin-left: 32px !important;
}

.ml-5 {
  margin-left: 48px !important;
}

.ml-6 {
  margin-left: 64px !important;
}

.ml-7 {
  margin-left: 72px !important;
}

.ml-8 {
  margin-left: 96px !important;
}

.ml-9 {
  margin-left: 128px !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mr-1 {
  margin-right: 8px !important;
}

.mr-2 {
  margin-right: 16px !important;
}

.mr-3 {
  margin-right: 24px !important;
}

.mr-4 {
  margin-right: 32px !important;
}

.mr-5 {
  margin-right: 48px !important;
}

.mr-6 {
  margin-right: 64px !important;
}

.mr-7 {
  margin-right: 72px !important;
}

.mr-8 {
  margin-right: 96px !important;
}

.mr-9 {
  margin-right: 128px !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: 8px !important;
}

.mb-2 {
  margin-bottom: 16px !important;
}

.mb-3 {
  margin-bottom: 24px !important;
}

.mb-4 {
  margin-bottom: 32px !important;
}

.mb-5 {
  margin-bottom: 48px !important;
}

.mb-6 {
  margin-bottom: 64px !important;
}

.mb-7 {
  margin-bottom: 72px !important;
}

.mb-8 {
  margin-bottom: 96px !important;
}

.mb-9 {
  margin-bottom: 128px !important;
}

.mx-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.mx-1 {
  margin-left: 8px !important;
  margin-right: 8px !important;
}

.mx-2 {
  margin-left: 16px !important;
  margin-right: 16px !important;
}

.mx-3 {
  margin-left: 24px !important;
  margin-right: 24px !important;
}

.mx-4 {
  margin-left: 32px !important;
  margin-right: 32px !important;
}

.mx-5 {
  margin-left: 48px !important;
  margin-right: 48px !important;
}

.mx-6 {
  margin-left: 64px !important;
  margin-right: 64px !important;
}

.mx-7 {
  margin-left: 72px !important;
  margin-right: 72px !important;
}

.mx-8 {
  margin-left: 96px !important;
  margin-right: 96px !important;
}

.mx-9 {
  margin-left: 128px !important;
  margin-right: 128px !important;
}

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.my-1 {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}

.my-2 {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}

.my-3 {
  margin-top: 24px !important;
  margin-bottom: 24px !important;
}

.my-4 {
  margin-top: 32px !important;
  margin-bottom: 32px !important;
}

.my-5 {
  margin-top: 48px !important;
  margin-bottom: 48px !important;
}

.my-6 {
  margin-top: 64px !important;
  margin-bottom: 64px !important;
}

.my-7 {
  margin-top: 72px !important;
  margin-bottom: 72px !important;
}

.my-8 {
  margin-top: 96px !important;
  margin-bottom: 96px !important;
}

.my-9 {
  margin-top: 128px !important;
  margin-bottom: 128px !important;
}

.p-0 {
  padding: 0 !important;
}

.p-1 {
  padding: 8px !important;
}

.p-2 {
  padding: 16px !important;
}

.p-3 {
  padding: 24px !important;
}

.p-4 {
  padding: 32px !important;
}

.p-5 {
  padding: 48px !important;
}

.p-6 {
  padding: 64px !important;
}

.p-7 {
  padding: 72px !important;
}

.p-8 {
  padding: 96px !important;
}

.p-9 {
  padding: 128px !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pt-1 {
  padding-top: 8px !important;
}

.pt-2 {
  padding-top: 16px !important;
}

.pt-3 {
  padding-top: 24px !important;
}

.pt-4 {
  padding-top: 32px !important;
}

.pt-5 {
  padding-top: 48px !important;
}

.pt-6 {
  padding-top: 64px !important;
}

.pt-7 {
  padding-top: 72px !important;
}

.pt-8 {
  padding-top: 96px !important;
}

.pt-9 {
  padding-top: 128px !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.pl-1 {
  padding-left: 8px !important;
}

.pl-2 {
  padding-left: 16px !important;
}

.pl-3 {
  padding-left: 24px !important;
}

.pl-4 {
  padding-left: 32px !important;
}

.pl-5 {
  padding-left: 48px !important;
}

.pl-6 {
  padding-left: 64px !important;
}

.pl-7 {
  padding-left: 72px !important;
}

.pl-8 {
  padding-left: 96px !important;
}

.pl-9 {
  padding-left: 128px !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pr-1 {
  padding-right: 8px !important;
}

.pr-2 {
  padding-right: 16px !important;
}

.pr-3 {
  padding-right: 24px !important;
}

.pr-4 {
  padding-right: 32px !important;
}

.pr-5 {
  padding-right: 48px !important;
}

.pr-6 {
  padding-right: 64px !important;
}

.pr-7 {
  padding-right: 72px !important;
}

.pr-8 {
  padding-right: 96px !important;
}

.pr-9 {
  padding-right: 128px !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pb-1 {
  padding-bottom: 8px !important;
}

.pb-2 {
  padding-bottom: 16px !important;
}

.pb-3 {
  padding-bottom: 24px !important;
}

.pb-4 {
  padding-bottom: 32px !important;
}

.pb-5 {
  padding-bottom: 48px !important;
}

.pb-6 {
  padding-bottom: 64px !important;
}

.pb-7 {
  padding-bottom: 72px !important;
}

.pb-8 {
  padding-bottom: 96px !important;
}

.pb-9 {
  padding-bottom: 128px !important;
}

.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.px-1 {
  padding-left: 8px !important;
  padding-right: 8px !important;
}

.px-2 {
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.px-3 {
  padding-left: 24px !important;
  padding-right: 24px !important;
}

.px-4 {
  padding-left: 32px !important;
  padding-right: 32px !important;
}

.px-5 {
  padding-left: 48px !important;
  padding-right: 48px !important;
}

.px-6 {
  padding-left: 64px !important;
  padding-right: 64px !important;
}

.px-7 {
  padding-left: 72px !important;
  padding-right: 72px !important;
}

.px-8 {
  padding-left: 96px !important;
  padding-right: 96px !important;
}

.px-9 {
  padding-left: 128px !important;
  padding-right: 128px !important;
}

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.py-1 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.py-2 {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.py-3 {
  padding-top: 24px !important;
  padding-bottom: 24px !important;
}

.py-4 {
  padding-top: 32px !important;
  padding-bottom: 32px !important;
}

.py-5 {
  padding-top: 48px !important;
  padding-bottom: 48px !important;
}

.py-6 {
  padding-top: 64px !important;
  padding-bottom: 64px !important;
}

.py-7 {
  padding-top: 72px !important;
  padding-bottom: 72px !important;
}

.py-8 {
  padding-top: 96px !important;
  padding-bottom: 96px !important;
}

.py-9 {
  padding-top: 128px !important;
  padding-bottom: 128px !important;
}

.dropshadow {
  filter: drop-shadow(0px 16px 24px rgba(208, 125, 233, 0.25));
}

.bg-icon-check::after {
  background-image: url("/svg/icon-check.svg");
  background-size: cover;
  transform: 0.5s ease;
  width: 40px;
  height: 40px;
  top: 8px;
  left: 8px;
  cursor: pointer;
  filter: drop-shadow(0px 16px 24px rgba(169, 80, 196, 0.25));
}
.bg-icon-check:hover::after {
  transform: scale(1.05);
}

.icon {
  filter: drop-shadow(0px 16px 24px rgba(169, 80, 196, 0.25));
  transition: 0.5s ease;
  cursor: pointer;
}
.icon:hover {
  transform: scale(1.05);
}

.bg-icon-mobile::after {
  background-image: url("/svg/icon-mobile.svg");
  background-size: cover;
  transform: 0.5s ease;
  width: 56px;
  height: 56px;
  cursor: pointer;
  filter: drop-shadow(0px 16px 24px rgba(169, 80, 196, 0.25));
}
.bg-icon-mobile:hover::after {
  transform: scale(1.05);
}

.bg-icon-time::after {
  background-image: url("/svg/icon-time.svg");
  background-size: cover;
  transform: 0.5s ease;
  width: 56px;
  height: 56px;
  cursor: pointer;
  filter: drop-shadow(0px 16px 24px rgba(169, 80, 196, 0.25));
}
.bg-icon-time:hover::after {
  transform: scale(1.05);
}

.bg-icon-config::after {
  background-image: url("/svg/icon-config.svg");
  background-size: cover;
  transform: 0.5s ease;
  width: 56px;
  height: 56px;
  cursor: pointer;
  filter: drop-shadow(0px 16px 24px rgba(169, 80, 196, 0.25));
}
.bg-icon-config:hover::after {
  transform: scale(1.05);
}

.bg-icon-contactless::after {
  background-image: url("/svg/icon-contactless.svg");
  background-size: cover;
  transform: 0.5s ease;
  width: 56px;
  height: 56px;
  cursor: pointer;
  filter: drop-shadow(0px 16px 24px rgba(169, 80, 196, 0.25));
}
.bg-icon-contactless:hover::after {
  transform: scale(1.05);
}

.bg-icon-card::after {
  background-image: url("/svg/icon-card.svg");
  background-size: cover;
  transform: 0.5s ease;
  width: 56px;
  height: 56px;
  cursor: pointer;
  filter: drop-shadow(0px 16px 24px rgba(169, 80, 196, 0.25));
}
.bg-icon-card:hover::after {
  transform: scale(1.05);
}

.icon-networks {
  max-width: 48px;
  padding: 8px;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  position: relative;
  scroll-behavior: smooth;
  background-color: #edeaef;
}

svg, img {
  display: block;
  width: 100%;
}

.border {
  border: 1px solid red;
}

header {
  width: 100%;
  height: 72px;
  background-color: transparent;
  box-shadow: none;
  transition: 0.5s ease;
  position: fixed;
  z-index: 999;
}

.active-header {
  background-color: #f7f2fa;
  box-shadow: 0px 51px 80px rgba(169, 80, 196, 0.08), 8px 15.375px 24.1177px rgba(169, 80, 196, 0.521271), 0px 6.38599px 10.0172px rgba(169, 80, 196, 0.04), 0px 2.30969px 3.62304px rgba(169, 80, 196, 0.0278729);
}

.navbar-desktop {
  max-width: 1440px;
  margin: 0 auto;
  padding: 10px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 960px) {
  .navbar-desktop {
    display: none;
  }
}

.logo {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 800;
}

.navbar-desktop-item-1 {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar-desktop-item-2 {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu-desktop {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.menu-desktop .menu-item {
  position: relative;
  margin-left: 16px;
}

.nav-link-desktop {
  display: inline-block;
  padding: 12px 16px;
  position: relative;
}
.nav-link-desktop::after {
  content: "";
  position: absolute;
  top: 42%;
  right: -3px;
  width: 7px;
  height: 7px;
  transform: rotate(45deg);
  border-radius: 1px;
  transition: 0.2s linear;
  border-bottom: 2px solid #82269e;
  border-right: 2px solid #82269e;
}
.nav-link-desktop:hover::after {
  top: 45%;
}

.dropdown-menu {
  background-color: #fefbff;
  border-radius: 16px;
  padding: 16px 24px;
  box-shadow: 0px 51px 80px rgba(246, 213, 255, 0.88), 0px 15.375px 24.1177px rgba(236, 176, 255, 0.521), 0px 6.38599px 10.0172px rgba(240, 193, 255, 0.88), 0px 2.30969px 3.62384px rgba(107, 56, 122, 0.028);
  list-style: none;
  position: absolute;
  top: 48px;
  left: 24px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s ease;
}
.dropdown-menu .dropdown-item {
  width: 100%;
}

.active-dropdown-menu {
  pointer-events: all;
  opacity: 1;
}

.nav-link-dropdown {
  display: inline-block;
  width: 100%;
  padding: 8px 16px;
  position: relative;
}
.nav-link-dropdown::after {
  content: "";
  position: absolute;
  top: 90%;
  left: 0;
  transition: 0.9s ease;
  width: 0%;
  height: 2px;
  background-color: #a958c4;
}
.nav-link-dropdown:hover::after {
  width: 100%;
}

.navbar-mobile {
  max-width: 1440px;
  margin: 0 auto;
  padding: 10px 24px;
  display: none;
}
@media screen and (max-width: 960px) {
  .navbar-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.bx {
  width: 36px;
  height: 36px;
  position: relative;
  cursor: pointer;
  z-index: 800;
  transition: 0.3s ease;
}
.bx::after {
  content: "";
  position: absolute;
  top: 40%;
  left: 17%;
  width: 70%;
  height: 2px;
  transition: 1s ease;
  background-color: #82269e;
}
.bx::before {
  content: "";
  position: absolute;
  top: 64%;
  left: 17%;
  width: 70%;
  height: 2px;
  transition: 1s ease;
  background-color: #82269e;
}

.active-bx {
  width: 36px;
  height: 36px;
  position: relative;
  cursor: pointer;
  z-index: 800;
  transition: 0.7s ease;
}
.active-bx::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 17%;
  transform: rotate(-135deg);
  width: 70%;
  height: 2px;
  transition: 1s ease;
  background-color: #82269e;
}
.active-bx::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 17%;
  transform: rotate(-45deg);
  width: 70%;
  height: 2px;
  transition: 1s ease;
  background-color: #82269e;
}

.menu-mobile {
  width: 100vw;
  height: 100vh;
  background-color: #f7f2fa;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transform: translate3d(0, -100px, 0);
  transition: 1s ease;
}

.active-menu-mobile {
  opacity: 1;
  pointer-events: all;
}
@media screen and (max-width: 1140px) and (max-width: 1140px) and (min-width: 960px) {
  .active-menu-mobile {
    opacity: 0;
    pointer-events: none;
  }
}
@media screen and (max-width: 1440px) and (max-width: 1440px) and (min-width: 1140px) {
  .active-menu-mobile {
    opacity: 0;
    pointer-events: none;
  }
}
@media screen and (min-width: 1440px) {
  .active-menu-mobile {
    opacity: 0;
    pointer-events: none;
  }
}

.nav-list-mobile {
  max-width: 1140px;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.nav-list-mobile svg {
  width: 36px;
  height: 36px;
}
.nav-list-mobile svg path {
  stroke: #a6a6a7;
  transition: 0.7s ease;
}
.nav-list-mobile svg:hover path {
  stroke: #82269e;
}

.nav-link-mobile {
  display: inline-block;
  font-family: "Sora", sans-serif;
  font-size: 36px;
  line-height: 120%;
  color: #555456;
  padding: 16px 24px;
  position: relative;
}
.nav-link-mobile::after {
  content: "";
  position: absolute;
  top: 90%;
  left: 16px;
  width: 0%;
  height: 2px;
  transition: 1s ease;
  background-color: #a958c4;
}
.nav-link-mobile:hover {
  color: #82269e;
}
.nav-link-mobile:hover::after {
  width: 100%;
}

.box {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 24px;
}

.container-swiper {
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
  padding: 96px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.swiper-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.swiper-slide {
  max-width: 420px;
  padding: 24px 36px;
  margin: 0 16px;
  border-radius: 50px;
  background-color: #f7f2fa;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.button-next {
  position: absolute;
  right: 32px;
  top: 24px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  background-image: url(/svg/icon-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.button-prev {
  position: absolute;
  right: 88px;
  top: 24px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  background-image: url(/svg/icon-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(180deg);
}

.photo-profile {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.photo-1 {
  background-image: url(/img/people1.png);
}

.photo-2 {
  background-image: url(/img/people2.png);
}

.photo-3 {
  background-image: url(/img/people3.png);
}

.photo-4 {
  background-image: url(/img/people4.png);
}

.photo-5 {
  background-image: url(/img/people5.png);
}

.photo-6 {
  background-image: url(/img/people6.png);
}

.white {
  color: #fefbff;
}

.div-card {
  perspective: 500px;
  position: relative;
}

.card {
  width: 340px;
  height: 217.6px;
  border-radius: 12px;
  transform-origin: center center;
  transform-style: preserve-3d;
  z-index: -1;
  background-color: red;
  animation: flip-card 12s linear infinite alternate, change-bg-card 12s linear infinite alternate;
}

@keyframes flip-card {
  0% {
    transform: rotateX(-10deg) rotateY(10deg) rotate(-15deg);
  }
  40% {
    transform: rotateX(0deg) rotateY(20deg);
  }
  60% {
    transform: rotateX(180deg) rotateY(20deg);
  }
  100% {
    transform: rotateX(190deg) rotateY(10deg) rotate(15deg);
  }
}
@keyframes change-bg-card {
  0%, 49% {
    background-image: url(../svg/nubank.svg);
    background-size: cover;
  }
  50%, 100% {
    background-image: url(../svg/nubank-verse.svg);
    background-size: cover;
  }
}
.icon-card-hero {
  position: absolute;
  top: -50px;
  left: -30px;
  z-index: 200;
  animation: icons-hero 7s ease 0.5s infinite alternate;
}
@media screen and (max-width: 960px) {
  .icon-card-hero {
    top: -20px;
    left: -30px;
  }
}

.icon-contactless-hero {
  position: absolute;
  top: 350px;
  left: 30px;
  z-index: 200;
  animation: icons-hero 7s ease 1s infinite alternate;
}
@media screen and (max-width: 960px) {
  .icon-contactless-hero {
    top: 350px;
    left: -100px;
  }
}

.icon-mobile-hero {
  position: absolute;
  top: 150px;
  left: -250px;
  z-index: 200;
  animation: icons-hero 7s ease 2.5s infinite alternate;
}
@media screen and (max-width: 960px) {
  .icon-mobile-hero {
    top: 320px;
    left: 120px;
  }
}

@keyframes icons-hero {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(10px, -40px, 0);
  }
}
.bg-home-blur1 {
  transform: translate3d(0, -100px, 0);
}

.bg-home-blur2 {
  transform: translate3d(0, -150px, 0);
}

.bg-home-rect1 {
  animation: bg-home-rect 3s ease 0s infinite alternate;
}

.bg-home-rect2 {
  animation: bg-home-rect 3s ease 0.5s infinite alternate;
}

.bg-home-rect3 {
  animation: bg-home-rect 3s ease 1s infinite alternate;
}

.bg-home-rect4 {
  animation: bg-home-rect 3s ease 1.5s infinite alternate;
}

@keyframes bg-home-rect {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 30px, 0);
  }
}
.people1 {
  opacity: 0;
  animation: people 10s ease 0s infinite;
}

.people2 {
  opacity: 0;
  animation: people 10s ease 5s infinite;
}

.people3 {
  opacity: 0;
  animation: people 10s ease 2s infinite;
}

.people4 {
  opacity: 0;
  animation: people 10s ease 7s infinite;
}

.people5 {
  opacity: 0;
  animation: people 10s ease 3s infinite;
}

.people6 {
  opacity: 0;
  animation: people 10s ease 8s infinite;
}

@media screen and (max-width: 960px) {
  #people2 {
    display: none;
  }
}

@keyframes people {
  0% {
    opacity: 0;
  }
  20%, 50% {
    opacity: 1;
  }
  70%, 100% {
    opacity: 0;
  }
}
.fignu2-screen1 {
  animation: fignu2-screen1 10s ease infinite;
}

@keyframes fignu2-screen1 {
  0% {
    opacity: 0;
  }
  60%, 50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.fignu2-icon1 {
  animation: fignu2-icon-move 3s ease 0s infinite alternate;
}

.fignu2-icon3 {
  animation: fignu2-icon-move 3s ease 3s infinite alternate;
}

.fignu2-icon5 {
  animation: fignu2-icon-move 3s ease 5s infinite alternate;
}

@keyframes fignu2-icon-move {
  0% {
    transform: translate3d(0, 0, 0);
  }
  0% {
    transform: translate3d(10px, -40px, 0);
  }
}
.fignu3-card-verse {
  transform-origin: center center;
  transform-box: fill-box;
  transform: translate3d(0, -40px, 0) rotate(0deg);
  animation: fignu3-card-verse-move 3s ease infinite alternate;
}

@keyframes fignu3-card-verse-move {
  0% {
    transform: translate3d(0, -40px, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(0, 20px, 0) rotate(5deg);
  }
}
.fignu3-card-front {
  transform-origin: center center;
  transform-box: fill-box;
  transform: translate3d(0, -40px, 0) rotate(0deg);
  animation: fignu3-card-front-move 3s ease 1s infinite alternate;
}

@keyframes fignu3-card-front-move {
  0% {
    transform: translate3d(0, -40px, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(0, 20px, 0) rotate(-5deg);
  }
}
.fignu3-shadow {
  transform-origin: center center;
  transform-box: fill-box;
  fill-opacity: 0.15;
  animation: fignu3-shadow 3s ease 1s infinite alternate;
}

@keyframes fignu3-shadow {
  0% {
    fill-opacity: 0.15;
  }
  100% {
    fill-opacity: 0.4;
  }
}
.fignu4-letter-u {
  animation: fig4nu-letter 4s ease infinite alternate;
}

.fignu4-letter-n {
  animation: fig4nu-letter 4s ease infinite alternate;
}

@keyframes fig4nu-letter {
  0% {
    stroke-width: 4;
    stroke-dasharray: 1 400;
    stroke-opacity: 0;
  }
  60%, 100% {
    stroke-width: 4;
    stroke-dasharray: 400 0;
    stroke-opacity: 1;
  }
}
.fignu5-ball1 {
  animation: translate-ball 4s ease 0s infinite alternate;
}

.fignu5-ball2 {
  animation: translate-ball 4s ease 0.5s infinite alternate;
}

.fignu5-ball3 {
  animation: translate-ball 4s ease 1s infinite alternate;
}

.fignu5-ball4 {
  animation: translate-ball 4s ease 1.5s infinite alternate;
}

@keyframes translate-ball {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(200px, -100px, 0);
  }
}/*# sourceMappingURL=style.css.map */