//ANIMATIONS

$width-card: 340px;
$height-card: 0.64 * $width-card;

.div-card {
    perspective: 500px;

    position: relative;
}

.card {
    width: $width-card;
    height: $height-card;

    border-radius: 12px;

    transform-origin: center center;
    transform-style: preserve-3d;

    z-index: -1;

    background-color: red;

    animation: flip-card 12s linear infinite alternate,
    change-bg-card 12s linear infinite alternate;
}

@keyframes flip-card {
    0%{
        transform: rotateX(-10deg) rotateY(10deg) rotate(-15deg);
    }

    40%{
        transform: rotateX(0deg) rotateY(20deg);
    }

    60%{
        transform: rotateX(180deg) rotateY(20deg);
    }

    100%{
        transform: rotateX(190deg) rotateY(10deg) rotate(15deg);
    }
}

@keyframes change-bg-card {
    0%,49%{
        background-image: url(../svg/nubank.svg);
        background-size: cover;
    }

    50%,100%{
        background-image: url(../svg/nubank-verse.svg);
        background-size: cover;
    }
}

.icon-card-hero {
    position: absolute;
    top: -50px;
    left: -30px;

    z-index: 200;

    animation: icons-hero 7s ease 0.5s infinite alternate;

    @include responsive(s) {
        top: -20px;
        left: -30px;
    }
}

.icon-contactless-hero {
    position: absolute;
    top: 350px;
    left: 30px;

    z-index: 200;

    animation: icons-hero 7s ease 1s infinite alternate;

    @include responsive(s) {
        top: 350px;
        left: -100px;
    }
}



.icon-mobile-hero {
    position: absolute;
    top: 150px;
    left: -250px;

    z-index: 200;

    animation: icons-hero 7s ease 2.5s infinite alternate;

    @include responsive(s) {
        top: 320px;
        left: 120px;
    }
}

@keyframes icons-hero{
    0%{
        transform: translate3d(0,0,0);
    }
    100%{
        transform: translate3d(10px,-40px,0);
    }
}

.bg-home-blur1 {
    transform: translate3d(0,-100px,0);
}

.bg-home-blur2 {
    transform: translate3d(0,-150px,0);
}

.bg-home-rect1{
    animation: bg-home-rect 3s ease 0s infinite alternate;
}

.bg-home-rect2{
    animation: bg-home-rect 3s ease 0.5s infinite alternate;
}

.bg-home-rect3{
    animation: bg-home-rect 3s ease 1s infinite alternate;
}

.bg-home-rect4{
    animation: bg-home-rect 3s ease 1.5s infinite alternate;
}

@keyframes bg-home-rect{
    0%{
        transform: translate3d(0,0,0);
    }
    100%{
        transform: translate3d(0,30px,0);
    }
}

// SECTION PEOPLE

.people1 {
    opacity: 0;
    animation: people 10s ease 0s infinite;
}

.people2 {
    opacity: 0;
    animation: people 10s ease 5s infinite;
}

.people3 {
    opacity: 0;
    animation: people 10s ease 2s infinite;
}

.people4 {
    opacity: 0;
    animation: people 10s ease 7s infinite;
}

.people5 {
    opacity: 0;
    animation: people 10s ease 3s infinite;
}

.people6 {
    opacity: 0;
    animation: people 10s ease 8s infinite;
}

#people2 {
    @include responsive(s){
        display: none;
    }
}

@keyframes people {
    0% {
        opacity: 0;
    }
    20%,50% {
        opacity: 1;
    }
    70%,100% {
        opacity: 0;
    }
}

// SECTION DIGITAL ACCOUNT

.fignu2-screen1 {
    animation: fignu2-screen1 10s ease infinite;
}

@keyframes fignu2-screen1 {
    0%{
        opacity: 0;
    }
    60%,50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.fignu2-icon1 {
    animation: fignu2-icon-move 3s ease 0s infinite alternate;
}

.fignu2-icon3 {
    animation: fignu2-icon-move 3s ease 3s infinite alternate;
}

.fignu2-icon5 {
    animation: fignu2-icon-move 3s ease 5s infinite alternate;
}

@keyframes fignu2-icon-move {
    0% {
        transform: translate3d(0,0,0);
    }
    0% {
        transform: translate3d(10px,-40px,0);
    }
}

// SECTION CARD

.fignu3-card-verse {
    transform-origin: center center;
    transform-box: fill-box;
    transform: translate3d(0,-40px,0) rotate(0deg);
    animation: fignu3-card-verse-move 3s ease infinite alternate
}

@keyframes fignu3-card-verse-move {
    0%{
        transform: translate3d(0,-40px,0) rotate(0deg);
    }
    100%{
        transform: translate3d(0,20px,0) rotate(5deg);
    }
}

.fignu3-card-front {
    transform-origin: center center;
    transform-box: fill-box;
    transform: translate3d(0,-40px,0) rotate(0deg);
    animation: fignu3-card-front-move 3s ease 1s infinite alternate
}

@keyframes fignu3-card-front-move {
    0%{
        transform: translate3d(0,-40px,0) rotate(0deg);
    }
    100%{
        transform: translate3d(0,20px,0) rotate(-5deg);
    }
}

.fignu3-shadow {
    transform-origin: center center;
    transform-box: fill-box;
    fill-opacity: 0.15;
    animation: fignu3-shadow 3s ease 1s infinite alternate
}

@keyframes fignu3-shadow {
    0%{
        fill-opacity: 0.15;
    }
    100%{
        fill-opacity: 0.4;
    }
}


// SECTION APP NUBANK

.fignu4-letter-u {
    animation: fig4nu-letter 4s ease infinite alternate;
}

.fignu4-letter-n {
    animation: fig4nu-letter 4s ease infinite alternate;
}

@keyframes fig4nu-letter {
    0%{
        stroke-width: 4;
        stroke-dasharray: 1 400;
        stroke-opacity: 0;
    }
    60%,100%{
        stroke-width: 4;
        stroke-dasharray: 400 0;
        stroke-opacity: 1;
    }
}

// SECTION INVETE

.fignu5-ball1 {
    animation: translate-ball 4s ease 0s infinite alternate;
}

.fignu5-ball2 {
    animation: translate-ball 4s ease 0.5s infinite alternate;
}

.fignu5-ball3 {
    animation: translate-ball 4s ease 1s infinite alternate;
}

.fignu5-ball4 {
    animation: translate-ball 4s ease 1.5s infinite alternate;
}

@keyframes translate-ball {
    0%{
        transform: translate3d(0,0,0);
    }
    100%{
        transform: translate3d(200px,-100px,0);
    }
}
