a {
    @include typeface-2(p2, desktop);
    text-decoration: none;
    color: $black-normal;
    transition: .5s;

    &:hover {
        opacity: .9;
    }
}

.btn {
    background: linear-gradient(220.94deg, $secondary-normal 14.43%, $primary-normal 85.28%);
    border-radius: 16px;
    padding: 12px 32px;
    transition: .5s ease;
    color: $white-ligth;

    box-shadow: 0px 17px 17px rgba(169, 80, 196, 0.13),
    0px 5.125px 5.125px rgba(169, 80, 196, 0.0847066),
    0px 2.12866px 2.12866px rgba(169, 80, 196, 0.065),
    0px 0.769896px 0.769896px rgba(169, 80, 196, 0.0452935);

    &:hover {
        transform: scale(1.02);
        box-shadow: 0px 17px 31px rgba(169, 80, 196, 0.05),
        0px 5.125px 9.34559px rgba(169, 80, 196, 0.07),
        0px 2.12866px 3.88168px rgba(169, 80, 196, 0.09),
        0px 0.769896px 0.769896px rgba(169, 80, 196, 0.14);

    }
}

.link {
    display: inline-block;

    color: $primary-normal;
    background-image: url('/svg/icon-arrow.svg');
    background-repeat: no-repeat;
    background-position: 0% 50%;
    font-size: 18px;

    padding: 16px 16px 16px 40px;

    position: relative;

    &::after {
        content: '';
        position: absolute;
        display: block;

        top: 75%;
        left: 56px;

        width: 0%;
        height: 2px;
        border-radius: 2px;
        transition: .5s ease;

        background-color: $secondary-light;
    }

    &:hover {
        opacity: 0.8;
        padding-left: 64px;
        background-position: 8px 50%;

        &::after {
            width: 100%;
            background-color: $secondary-light;
        }  
    }
}

.button-app {
    transition: .5s ease;

    &:hover {
        filter: drop-shadow(0px 51px 80px rgba(169, 80, 196, 0.08))
        drop-shadow(0px 15.375px 24.1177px rgba(169, 80, 196, 0.052171))
        drop-shadow(0px 6.38599px 10.0172px rgba(169, 80, 196, 0.04))
        drop-shadow(0px 2.30969px 3.62304px rgba(169, 80, 196, 0.0278729));
    }
}