// colors of project

// Brand Colors

$primary-normal: #82269e;
$primary-dark: #701f88;
$primary-light: #9c4fb4;

$secondary-normal: #a958c4;
$secondary-dark: #9142a8;
$secondary-light: #bb71d2;

// Neutral - colors

$black-normal: #232224;
$black-dark: #161617;
$black-ligth: #353436;

$white-normal: #f7f2fa;
$white-dark: #edeaef;
$white-ligth: #fefbff;

// Gray Scale

$gray-1: #454446;
$gray-2: #555456;
$gray-3: #666566;
$gray-4: #767576;
$gray-5: #868587;
$gray-6: #969597;
$gray-7: #a6a6a7;

// Auxiliary colors

$red-normal: #eb3d3d;
$red-dark: #d83333;
$red-ligth: #f05454;

$green-normal: #32d957;
$green-dark: #28bb49;
$green-ligth: #50e170;

$yellow-normal: #ffce52;
$yellow-dark: #d9b043;
$yellow-ligth: #ffd76b;

.white {
    color: $white-ligth;
}

